body, html{
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title p{
    padding-bottom: 15px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    overflow-y: auto;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px;
}

.list-item:hover{
    background-color: rgba(0, 0, 0, .1);
}

.list-item-imagem img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info{
    padding: 0 15px;
    flex-grow: 1;
}

.info-name{
    font-size: 18px;
    margin: 0;
}

.info-email{
    font-size: 14px;
    color: #aaa;
    margin: 2px 0 0;
}

a img{
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.btn{
    display: flex;
    gap: 15px;
    align-items: center;
    opacity: 0;
}

.list-item:hover .btn{
    opacity: 1;
}

.btn-layout button{
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #aaa;
    font-size: 12px;
    border-radius: 10px;
    border: 0;
}

.btn-layout button:hover{
    background-color: #fff;
}

.list-nav{
    display: flex;
    justify-content: space-between;    
    font-size: 18px;
    gap: 15px;
}

.menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

ul:hover a{ 
    color: #ccc;
}

ul:hover a:hover{
    color: #000;
    border-bottom: 1px solid black;
}